<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href='check.html'>to check</a>

<form action="change_role???" method="get">
    <input name="login" value="" readonly/>
    <input type="radio" name="role" value="guest">guest</input><br>
    <input type="radio" name="role" value="cashier">cashier</input><br>
    <input type="radio" name="role" value="senior_cashier">senior cashier</input><br>
    <input type="radio" name="role" value="merchandiser">merchandiser</input><br>
    <input type="submit">
</form>

<div>
    <button onclick="local.href='/CashDeck/index.html'">To Login</button>
</div>
<br>
<div>
    <button onclick="local.href='/check'">create check</button>
</div>
<br>


</body>
</html>